{% if comments %}
<h1>Список комментариев:</h1>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Регион</th>
        <th>Город</th>
        <th>Контактный телефон</th>
        <th>E-mail</th>
        <th>Комментарий</th>
        <th>Удаление</th>
    </tr>
    </thead>
    <tbody>
    {% for comment in comments %}
    <tr>
        <th scope="row" id="counter">{% counter %}</th>
        <td>{{comment.last_name}}</td>
        <td>{{comment.first_name}}</td>
        <td>{{comment.middle_name}}</td>
        <td>{{comment.region}}</td>
        <td>{{comment.city}}</td>
        <td>{{comment.phone}}</td>
        <td>{{comment.email}}</td>
        <td>{{comment.text_comment}}</td>
        <td><i class="fa fa-trash" style="font-size: 15px;cursor: pointer; border: 2px dashed black" id="remove_comment"
               value="{{comment.id}}" onclick="remove_click(this)">УДАЛИТЬ</i></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    function remove_click(btn) {
        var xhr = new XMLHttpRequest();
        xhr.open('DELETE', '', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        var data = {
            'comment_id': btn.getAttribute('value')
        };
        xhr.send(serializer(data));

        xhr.onreadystatechange = function () {
            if (this.readyState != 4) return;
            if (this.status != 200) {
                alert('ошибка: ' + (this.status ? this.statusText : 'запрос не удался'));
                return;
            }
            btn.parentNode.parentNode.remove();

            let counters = document.querySelectorAll('#counter');
            for (let i = parseInt(btn.parentNode.parentNode.childNodes[1].innerHTML) - 1; i < counters.length; i++) {
                counters[i].innerHTML = parseInt(counters[i].innerHTML) - 1
            }
        }
    };
</script>
{% else %}
<h1>В базе нет комментариев.</h1>
{% endif %}